
body, html {
    height: 100%;
  }
#burgerPic {

    border-radius: 80px;
}

body {
    background-image: url("../images/burgerBack.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

#title {
    text-align: center;
    font-size: 80px;
    background-color: rgb(250, 229, 111);
    border: orange 2px groove;
    
}

.burgers {

    float: left;
    margin-right: 20px;
    width: 500px;
    margin-bottom: 50px;

}
.createBurger {
    clear: both;
}
.burgers-title {

    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
    border: orange 2px groove;
    border-radius: 10px;
    box-shadow: yellow 5px 5px 5px;
}

.list-of-burgers {

    list-style-type: none;
    width: 400px;
    margin-bottom: 10px;
    font-weight: bolder;

}
#devourBtn, #deleteBtn{
    
    float: right;
    
}

.list-of-eaten-burgers {

    list-style-type: none;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(82, 80, 80);
    background-color: lightgray;

}
.createBurger {

    text-align: center;
    
}
#submit {
    padding: 10px 30px;
    font-weight: bolder;


